[Unit]
Description=Keyboard Target
Requires=touchcursor.target keyboard-layout.service
PartOf=touchcursor.target keyboard-layout.service
BindsTo=desktop.target
