[Unit]
Description=Keyboard Layout Service
After=touchcursor.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c 'sleep 1; /usr/bin/setxkbmap custom;'

[Install]
RequiredBy=keyboard.target
